/* The code below centers the text of all h1's on the page. */
h1 {
    text-align:left;
    font-size: 35px;
}

/* The code below centers all images on the page and gives them a width of 400px. */
img{
  display: block;
  margin-right:auto;
  width: 600px;
}
/* The code below centers the text of all h2's on the page. */
h2 {   
    text-align:left;
}

/* The code below aligns all the sections horizontally on the bottom. */
.section-container {
    display:flex;
    justify-content:space-between;
}

/* The code below a solid black border to section and puts space between them (the margin). */
.section {
    border: 2px black solid;
    margin:10px;
    padding: 25px;
    font-size: 20px;
}