/* The code below centers the text of all h1's on the page. */
h1 {
    text-align:center;
    font-size: 35px;
}

/* The code below centers all images on the page and gives them a width of 400px. */
img{
  display: block;
  margin-left: auto;
  margin-right:auto;
  width: 300px;
}
/* The code below centers the text of all h2's on the page. */
h2 {   
    text-align:center;
}

/* The code below aligns all the sections horizontally on the bottom. */
.section-container {
    display:flex;
    justify-content:space-between;
}

/* The code below a solid black border to section and puts space between them (the margin). */
.section1, .section2, .section3 {
    border: 2px black solid;
    margin:10px;
    padding: 25px;
    font-size: 12px;
}
#first, #second, #third{
border: 2px black solid
}
.starter{
display: grid;
grid-auto-flow: column;
gap: 10px
}